@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,900i&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
  line-height: 1.65;
  /* margin: 72px; */
}

h1 {
  color: rgb(0, 50, 50);
  /* color: teal;
  color: #bada55; */
  background-color: #556b2f;
  text-align: center;
  font-size: 12pt;
  font-size: 12px;
  font-size: 400%; /* 400% of the default browser */
  font-weight: 900;
}

p {
  font-weight: 900;
}

b,
strong {
  font-weight: 200;
}

a {
  color: teal;
  /* text-decoration: none removes the underline */
  text-decoration: none;
}

a:hover {
  background-color: pink;
  font-size: 50px;
}

.flan {
  font-weight: 400;
  color: orange;
}
